<div class="row">
  <div class="col-12" *ngIf="showSearch">
    <!--<pre class="card card-block card-header mb-3">Model: {{selected | json}}</pre>-->
    <input [typeahead]="tasksHeader" [typeaheadScrollable]="true" [typeaheadOptionsInScrollableView]="6"
           class="form-control" placeholder="Введите название задачи..." [(ngModel)]="selected" (focus)="ngOnInit()" (keydown.enter)="findElement()">
  </div>

  <div class="col-6 mt-2" *ngFor="let task of tasksCopy">
    <app-task [datatask]="task" (removetask)="removeElement($event)"></app-task>
  </div>

  <div class="col-12" *ngIf="tasks.length == 0">
    <h1 class="display-3 align-content-center">Добавьте задачи!</h1>
  </div>
</div>
